#p_id {
  width: 20%;
  padding: 7px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#cartButton {
  width: 8%;
}

#button {
  cursor: pointer;
}

#count {
  border-style:solid; 
  border-width: 6px;
  border-radius: 10%;
  width: 4%;
  border-color:#9c602f52; 
  padding: 1em;
}

#underLineTable {
  text-decoration: none;
  color: black;
}

#h6-onhover {
  cursor: pointer;
}

#shadow {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#emptyCart {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#padding{
  padding-top: 20%;
}
